{% extends 'layout.html' %}
{% block body %}
<html>
<head>
     <div class="container text-center align-items-center">
        <div class="row justify-content-between align-items-center">
          <div class="col">
            <div class="card">
                <div class="row card-body">
                   <div class="col text-center">
                    <h1 class="display-2 mb-4">Exam Security.<br class="d-none d-md-inline"> Done Right.</h1>
                    <h3 class="display-4 mb-4">Deter. Detect. Prevent.</h3>
                    <p class="lead mb-4 text-muted">Online proctoring to advance your learning and testing program. Validate knowledge. Reduce costs. Expand access.</p>
                    </div>
            </div>
            <div class="col">
            <div class="card">
                <div class="row card-body">
                   <div class="col text-center">
                    <!-- <h1 class="display-2 mb-4">Exam Security.<br class="d-none d-md-inline"> Done Right.</h1>
                    <h3 class="display-4 mb-4">Deter. Detect. Prevent.</h3>
                    <p class="lead mb-4 text-muted">Online proctoring to advance your learning and testing program. Validate knowledge. Reduce costs. Expand access.</p> -->
                     <img src="{{ url_for('static', filename='myproctoraiindex.gif') }}"/>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    </div>
{% endblock %}