{% extends 'student_dashboard.html' %} {% block body %}
<div class="container">
  <div class="col-12 align-items-center justify-content-center">
    <div
      class="
        bg-white
        shadow-soft
        border
        rounded
        border-light
        p-4 p-lg-5
        w-100
        fmxw-650
      "
    >
      <div class="text-center text-md-center mb-4 mt-md-0">
        <h4 class="mb-0 4">
          Welcome to
          <span style="font-size: 22px; font-weight: 800"
            >AI.<span
              style="font-size: 20px; color: #6a1b9a"
              class="deep-purple lighten-5"
              >EXAM</span
            ></span
          >
        </h4>
        <br />
        <h1 class="mb-0 h3">Hi, Student: {{session.name}}</h1>
      </div>
    </div>
  </div>
</div>
{% endblock %}
